{% extends 'base.html' %} {% block main %}
<h1>Emissions Predictor</h1>
<form method="POST" action="{{ url_for('fuelPrediction') }}" class="form-group">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.n_flights.label(class="form-label") }} {{
    form.n_flights(class="form-control", placeholder="48") }}
  </div>
  <div class="form-group">
    {{ form.airline_iata.label(class="form-label") }} {{
    form.airline_iata(class="form-control", placeholder="MS") }}
  </div>
  <div class="form-group">
    {{ form.acft_icao.label(class="form-label") }} {{
    form.acft_icao(class="form-control", placeholder="A320") }}
  </div>
  <div class="form-group">
    {{ form.seats.label(class="form-label") }} {{
    form.seats(class="form-control", placeholder="7971") }}
  </div>
  <div class="form-group">
    {{ form.icao_departure.label(class="form-label") }} {{
    form.icao_departure(class="form-control", placeholder="EGLL") }}
  </div>
  <div class="form-group">
    {{ form.icao_arrival.label(class="form-label") }} {{
    form.icao_arrival(class="form-control", placeholder="KJFK") }}
  </div>
  <div class="form-group">
    {{ form.fuel_burn_seymour.label(class="form-label") }} {{
    form.fuel_burn_seymour(class="form-control", placeholder="2721.74") }}
  </div>
  <input type="submit" value="Predict" class="btn btn-primary" />

  {% if prediction %}
  <div class="results">
    <hr />
    <br />
    <h2>Prediction Results</h2>
    <p>Total CO2 Emissions: {{ prediction }} kg</p>
    <p>Average Emissions per Flight: {{ average_emissions_per_flight }} kg</p>
  </div>
  {% endif %} {% endblock %}
</form>
