{% extends 'base.html' %} {% block main %}
<h1 class="main-heading-1">Emissions Predictor</h1>
<div class="container mt-4">
  <form
    method="POST"
    action="{{ url_for('fuelPrediction') }}"
    class="form-group"
  >
    {{ form.csrf_token }}
    <div class="row">
      <div class="col-md-3">
        {{ form.n_flights.label(class="form-label") }} {{
        form.n_flights(class="form-control", placeholder="48") }}
      </div>
      <div class="col-md-3">
        {{ form.airline_iata.label(class="form-label") }} {{
        form.airline_iata(class="form-control", placeholder="MS") }}
      </div>
      <div class="col-md-3">
        {{ form.acft_icao.label(class="form-label") }} {{
        form.acft_icao(class="form-control", placeholder="A320") }}
      </div>
      <div class="col-md-3">
        {{ form.seats.label(class="form-label") }} {{
        form.seats(class="form-control", placeholder="7971") }}
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3">
        {{ form.icao_departure.label(class="form-label") }} {{
        form.icao_departure(class="form-control", placeholder="EGLL") }}
      </div>
      <div class="col-md-3">
        {{ form.icao_arrival.label(class="form-label") }} {{
        form.icao_arrival(class="form-control", placeholder="KJFK") }}
      </div>
      <div class="col-md-3">
        {{ form.fuel_burn_seymour.label(class="form-label") }} {{
        form.fuel_burn_seymour(class="form-control", placeholder="2721.74") }}
      </div>
      <div class="col-md-3 d-flex align-items-end justify-content-center">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </div>
  </form>

  {% if prediction %}
  <!-- <hr class="divider" /> -->
  <div class="results mt-4">
    <h2 class="results-header">Prediction Results</h2>
    <p class="results-value">
      <span class="results-label">Total CO2 Emissions:</span> {{ prediction }}
      kg
    </p>
    <p class="results-value">
      <span class="results-label">Average Emissions per Flight:</span> {{
      average_emissions_per_flight }} kg
    </p>
  </div>
  {% endif %}

  <!-- Description about the dataset and how to validate the model -->
  <div class="dataset-info">
    <h3 >About our Predictor</h2>
    <p>
      This Predictor utilizes data derived from the AeroSCOPE project, an
      open-source initiative providing detailed information on global passenger
      air traffic using methodologies developed through collaborative research
      and publicly available data from various aviation authorities and
      organizations, such as ANAC, BTS, Eurocontrol, and the World Bank. For
      verifying the accuracy of our predicions, a
      preview of the test dataset is available below.

      <div class="google-sheet-preview">
        <img
          src="{{ url_for('static', filename='dataset-Excel.png') }}"
          alt="Google Sheet Preview"
        />
        <a
          href="https://docs.google.com/spreadsheets/d/19bd3XdN6OALCQp59dAq_NnSlxPmb7sVo6RXK8mPD9dQ/edit?usp=sharing"
          target="_blank"
          class="view-full-sheet"
          >View Full Sheet</a
        >
      </div>
    </p>
  </div>

  
</div>

{% endblock %} {% block css %}
<style>
  .main-heading-1 {
    margin-bottom: 2rem;
  }
  .container {
    max-width: 960px;
    margin: auto;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .row {
    margin-top: 10px;
  }
  .col-md-3 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .d-flex {
    display: flex;
  }
  .align-items-end {
    align-items: flex-end;
  }
  .justify-content-center {
    justify-content: center;
  }

  .results .mt-4 {
    margin-top: 5rem;
  }
  /* .results h2 {
    color: #333;
  }
  .results p {
    font-size: 1.2rem;
    color: #555;
  } */
  .results {
    padding: 20px;
    background-color: #f0faff;
    border: 1px solid #0090c1;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  .results-header {
    /* color: #005580; */
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .results-value {
    font-size: 1.3rem;
    /* color: #333; */
    margin: 15px 0;
    font-weight: bold;
    color: #005580;
  }
  .results-label {
    font-weight: normal;
    color: black;
  }

  .dataset-info {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .dataset-info h3 {
    color: #005580;
    margin-bottom: 15px;
  }
  .dataset-info p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  .google-sheet-preview {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .google-sheet-preview img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  .view-full-sheet {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  .view-full-sheet:hover {
    background-color: #0056b3;
  }
  /* .divider {
    margin-top: 4rem;
    margin-bottom: 3rem;
  } */
</style>
{% endblock %}
